# ==========================================
# VS Code
# ==========================================
.vscode/
*.code-workspace
.history/

# ==========================================
# Java / Spring Boot (Maven & Gradle)
# ==========================================
# Compilação e binários
*.class
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
.gradle/
out/

### STS ###
.apt_generated
# Arquivos de log e empacotamento
*.log
*.jar
*.war
*.ear

# Configurações de IDEs Java (Eclipse / IntelliJ)
.idea/
*.iml
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.settings/

# ==========================================
# Node.js / TypeScript / Angular
# ==========================================
# Dependências (MUITO IMPORTANTE: nunca suba essa pasta)
node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
# Arquivos de build do Angular
dist/
.angular/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
# Logs e diagnósticos do Node/NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Cache de compiladores TypeScript e Angular
*.tsbuildinfo
.sass-cache/

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db
.env
