<div class="escolha-dropdown" [class.aberto]="aberto">
  <div class="campo-wrapper">
    <input
      type="text"
      [value]="query"
      [placeholder]="placeholder"
      [required]="required"
      autocomplete="off"
      (focus)="abrir()"
      (input)="query = $any($event.target).value; pesquisar()"
    >
    <button *ngIf="query" type="button" class="limpar" aria-label="Limpar escolha" (click)="limpar()">&times;</button>
  </div>

  <div class="opcoes" *ngIf="aberto">
    <button type="button" class="opcao" *ngFor="let option of opcoesFiltradas" (click)="selecionar(option)">{{ option.nome }}</button>
    <span class="sem-resultados" *ngIf="!opcoesFiltradas.length">Nenhum resultado encontrado.</span>
  </div>
</div>
