<!-- Contêiner flutuante único -->
<div class="menu-floating-wrapper">

  <button
    type="button"
    class="btn-dots-animated"
    [class.active]="isOpen"
    (click)="toggleMenu()"
    aria-label="Alternar Menu"
  >
    <svg class="dots-icon" viewBox="0 0 24 24" width="28" height="28">
      <circle class="dot dot-top" cx="12" cy="5" r="2" />
      <circle class="dot dot-middle" cx="12" cy="12" r="2" />
      <circle class="dot dot-bottom" cx="12" cy="19" r="2" />
    </svg>
  </button>

  <ul class="custom-dropdown-menu shadow-5-strong" [class.show]="isOpen">
    <li><a class="dropdown-item fw-bold" routerLink="/navbar/dashboard">GRFE</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" routerLink="/navbar/dashboard">Dashboard</a></li>
    <li><a class="dropdown-item" routerLink="/navbar/chamados">Chamados</a></li>
    <li><a class="dropdown-item " routerLink="/navbar/relatorios">Relatorios</a></li>
    <li><a class="dropdown-item " routerLink="/navbar/users">Usuarios</a></li>

    <li><hr class="dropdown-divider" /></li>
  </ul>

</div>

<main class="page-content">
  <router-outlet></router-outlet>
</main>
